/* src/css/custom.css */
.sidebar-bottom-items {
    margin-top: auto;
    padding-bottom: 1rem;
  }

/* 포커스 상태에서 회색 네모선을 제거 */
.nav-link:focus {
    outline: none;
    box-shadow: none;
  }
  
/* 활성화 상태에서 회색 네모선을 제거 */
.nav-link.active {
    outline: none;
    box-shadow: none;
  }

/* form-select 스타일 지정 (선택 사항) */
.form-select {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* src/css/custom.css */
.no-arrow::after {
  display: none !important; /* 기본 토글 화살표 제거 */
}

#dropdown-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.filter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.filter-badge {
  background-color: #4E73DE; 
  color: white; 
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
}


  
  