.grape-container {
  margin-bottom: 3rem;
  background-color: #fff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}
.dp-column {
  display: flex;
  flex-direction: column; /* 요소들을 세로로 정렬 */
}

.grape-header {
  padding: 1rem;
  padding-bottom: 0.21rem;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
  display: flex;
  flex-direction: column; /* 요소들을 세로로 배치 */
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* 전체 너비 사용 */
}

.filter-container {
  display: flex;
  align-items: center;
}

.badge-container {
  display: flex;
  margin-bottom: 0.5rem;
}


.grape-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #4e73df;
}

.grape-content {
  overflow-x: auto;
}

.data-table-cell {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e3e6f0;
  text-align: center!important; /* 중앙 정렬 */
}

.data-table-row:hover {
  background-color: rgba(78, 115, 223, 0.1); /* Highlight background color */
  cursor: pointer; /* Change cursor to pointer */
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #858796;
  text-align: center!important;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e3e6f0;
  text-align: center!important; /* 중앙 정렬 */
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e3e6f0;
}

.table tbody + tbody {
  border-top: 2px solid #e3e6f0;
}

.table-hover tbody tr:hover {
  color: #858796;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary, .table-primary > th, .table-primary > td {
  background-color: #cdd8f6;
}

.small-button {
  padding: 0.25rem 0.5rem !important; /* 버튼 패딩 조정 */
  font-size: 0.875rem !important; /* 버튼 폰트 크기 조정 */
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
  height: 2rem !important; /* 버튼 높이 조정 */
  width: 2rem !important; /* 버튼 너비 조정 */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-width: 2rem !important; /* 버튼 최소 너비 */
}

.small-dropdown-button .dropdown-toggle {
  padding: 0.25rem 0.5rem !important; /* 버튼 패딩 조정 */
  font-size: 0.875rem !important; /* 버튼 폰트 크기 조정 */
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
  height: 2rem !important; /* 버튼 높이 조정 */
  width: 2rem !important; /* 버튼 너비 조정 */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-width: 2rem !important; /* 버튼 최소 너비 */
}


.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 75%;
  font-weight: 700;
  color: #fff;
  background-color: #4e73df;
  border-radius: 0.35rem;
}

.custom-badge {
  border-radius: 12px !important; /* 동글동글하게 만들기 */
  font-weight: normal !important; /* 글씨를 bold에서 일반으로 변경 */
  padding: 0.5em 0.75em !important; /* 배지의 패딩 조정 */
}


.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #6e707e;
  background-color: #fff;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #6e707e;
  background-color: #fff;
  border-color: #bac8f3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.btn-sm-custom {
  padding: 0.25rem 0.5rem !important; /* 버튼 패딩 조정 */
  font-size: 0.875rem !important; /* 버튼 폰트 크기 조정 */
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
}